* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/*---------------------- Encabeazado -------------------------*/

body {
    background-color: #efe6ed;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.banner {
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle at 50%, pink, #db50a6, rgb(221, 109, 186));
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: auto;
    width: 100%;
    margin: 0 auto;
}

.banner__title {
    margin: 0;
    padding-left: 20px;
    width: auto;
    height: auto;
    text-shadow: 2px 2px 5px rgba(208, 66, 147, 0.8);
    color: #e2d1de;
}

.banner__title :visited, .banner__title :link {
    color: #e2d1de;
}

.banner__figure {
    display: flex;
    background-color: transparent;
}

.banner__logo {
    width: 64px;
    height: auto;
    object-fit: contain;
}

.banner__title::before {
    content: "|";
    color: #e2d1de;
    ;
    font-weight: bold;
}

.banner__title::after {
    content: "|";
    color: #e2d1de;
    font-weight: bold;
}

.banner__list {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.banner__list a {
    text-decoration: none;
    color: #d5c7d1;
}

.banner__list a:hover {
    text-decoration: none;
    color: #941362;
    background-color: #f0d2e3;
    transition: all 0.5s;
    border-radius: 5px;
}

.banner__list a:active {
    background-color: transparent;
    color: #1f1d1f;
    text-decoration: underline;
    transition: all 0.5s;
}