/*--------------------- Contenido Principal  ------------------------*/

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

h3 {
    font-size: 2.5rem;
    color: #b53584;
    text-align: center;
    text-shadow: 10px 5px 20px #d957a7;
}

h2 {
    font-size: 2.9rem;
    font-weight: bolder;
    color: #c8015e;
    margin: 20px 10px;
    text-decoration: underline;
    text-shadow: 10px 5px 15px rgba(232, 126, 177, 0.3);
}

.figure h2 {
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #751b76;
    text-shadow: 10px 5px 15px rgba(232, 126, 177, 0.3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*--------------------- Contenido Principal -Index ------------------------*/

.figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.figure__image {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.figure__title {
    font-size: 2.5rem;
    color: #941362;
}

.figure__subtitle {
    font-size: 1.8rem;
    color: #c1348b;
}

.destacados {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.destacados__title {
    font-size: 2rem;
    color: #7b15e2;
}


p {
    font-size: 1.2rem;
    font-family: serif;
    letter-spacing: 1.5px;
    font-weight: bolder;
}

.products__article {
    flex: 1 1 200px;
    max-width: 320px;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(129, 129, 129, 0.1);
    text-align: center;
    transition: transform 0.2s;
}

a {
    text-decoration: none;
    list-style: none;
}

.products__article a {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #782995;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #501062;
    text-align: center;
    cursor: pointer;
}

/*--------------Contenido principal - Productos-----------------------*/

.products {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.products__article h3 {
    margin-top: 10px;
    border: rgb(221, 173, 209) solid 1px;
    border-radius: 5px;
    background-color: rgba(235, 214, 239, 0.808);
}

.products__article-title {
    padding: 10px;
}

.products__article img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: rgb(241, 232, 237);
}

.btn {
    margin: 10px;
    padding: 10px 10px;
    background-color: #f020ae;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #f600a8;
    text-align: center;
    cursor: pointer;
}

.products__article a:active {
    transform: translateY(2px);

}

.products__article a:active {
    transform: translateY(2px);

}


.products__article-texto {
    text-align: center;
    margin: 10px 10px;
    font-size: 1rem;
}

/*--------------------------Contenido principal - Equipo ---------------------------*/
.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.team__list {
    flex: 1 1 200px;
    max-width: 320px;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(204, 200, 200, 0.1);
    text-align: center;
    transition: transform 0.2s;

}

.team__list-title {
    flex-wrap: nowrap;
    font-style: oblique;
    text-shadow: 10px 10px 15px rgba(107, 34, 128, 0.5);
    text-align: center;

}

.team__list-text {
    padding: 10px;
    margin-top: 10px;
}

.team__list img {
    width: 100%;
    max-width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: rgb(104, 39, 74);
}

.team__list-title ::before {
    content: "⌂ ";
}

/*-------------------Contenido principal - Lemon Pie -------------------------------*/
.card {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 30px auto;
    max-width: 1000px;
    padding: 20px;
}

.card__item {
    flex: 1 1 250px;
    max-width: 320px;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(129, 129, 129, 0.1);
    text-align: justify;
    transition: transform 0.2s;
}

/*-----------------------------------Contenido principal - contactos ---------------------------*/

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

form {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 500px;
    background: #e09fc7;
    padding: 20px;
    border: 2px solid rgb(197, 80, 154);
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(98, 97, 97, 0.3);
    margin-bottom: 20px;
}

form .btn {
    width: 20%;
}