
/*Aplica para Tablets hasta 1023 */
@media (min-width: 768px) {
    .banner {
        flex-direction: row; 
        justify-content: space-between;
        padding: 20px 40px;
        text-align: left;
    }

    .banner__nav {
        flex-direction: row;
        gap: 20px;
    }

    .banner__logo {
        max-width: 150px;
    }

    .banner__nombre {
        font-size: 2rem;
    }

    .footer__nav ul,
        .footer__contact ul {
            display: flex;
            flex-direction: row;
            gap: 15px;
            padding: 0;
            margin: 0;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            font-weight: bolder;
        }


.footer__nav ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #d5c7d1;
    text-shadow: 10px 10px 15px rgba(133, 90, 119, 0.5);
}
}

/* Aplica para desktops*/
@media (min-width: 1024px) {
    .banner {
        padding: 30px 60px;
    }

    .banner__logo {
        max-width: 180px;
    }

    .banner__nombre {
        font-size: 2.5rem;
    }

        .footer__nav ul,
        .footer__contact ul {
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding: 0;
            margin: 0;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            font-weight: bolder;
        }

 .footer__nav ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #d5c7d1;
    text-shadow: 10px 10px 15px rgba(133, 90, 119, 0.5);
    }

}



